html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #ffffff;
  --fond-color: #2f303a;
  --team-fond-color: #f5f4fa;
  --accent-color: #2196f3;
  --button-color: #188ce8;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
}
ul {
  list-style-type: none;
}
.img {
  width: 370px;
  height: 294px;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* Утилиты */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Header
===================== */
.header {
  display: block;
  outline: 1px solid #ececec;
}
.container.main-nav {
  display: flex;
  align-items: center;
}
.container {
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}
/* Nav
===================== */
.logo {
  display: block;
  padding: 24px 0;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo-blue {
  color: var(--text-color);
}
/* Navigation 
==================== */
.nav {
  display: flex;
  align-items: center;
}
.nav.list {
  display: flex;
}
.nav .item + .item {
  margin-left: 50px;
}
.nav-list-item.current {
  color: var(--accent-color);
}
.nav-list-item {
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-header {
  display: flex;
}
.contacts-header-item {
  display: flex;
  align-items: center;
}

.contacts-header-item:hover,
.nav-list-item:focus,
.nav-list-item:hover,
.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

/* Contacts
===================== */
.contacts-header {
  display: flex;
  margin-left: auto;
}
.contacts-header .item + .item {
  margin-left: 50px;
}
.contacts-header-item {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Section1
===================== */
.hero .container {
  height: 600px;
  max-width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/overlay.jpg);
  background-color: var(--fond-color);
}
.hero-box {
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: var(--main-color);
  font-size: 44px;
  text-align: center;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*--Button--*/
.button {
  background-color: var(--accent-color);
  color: var(--main-color);
  display: inline-block;
  vertical-align: top;
  font-family: inherit;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button.primary {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-color);
}

/* Section2
===================== */
.page-advantages {
  margin-left: auto;
  margin-right: auto;
}
.advantage {
  display: flex;
  padding: 94px 0;
  margin: 0;
}
.advantage .item {
  width: 270px;
}
.advantage .item + .item {
  margin-left: 30px;
}
.advantage .item::before {
  display: inline-block;
  content: "";
  height: 120px;
  width: 270px;
  background-color: var(--team-fond-color);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.antenna::before {
  background-image: url(../imges/antenna.svg);
}
.clock::before {
  background-image: url(../imges/clock.svg);
}
.diagram::before {
  background-image: url(../imges/diagram.svg);
}
.astronaut::before {
  background-image: url(../imges/astronaut.svg);
}
.advantage-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.advantage-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section3
===================== */
.page-scils .container {
  padding-bottom: 94px;
}
.title {
  margin: 0;
  padding-bottom: 50px;
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
.img {
  display: flex;
  padding: 0;
  margin: 0;
}
.img .item + .item {
  margin-left: 30px;
}
/* Section4
===================== */
.team {
  background-color: var(--team-fond-color);
}
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .list {
  display: flex;
}
.team .item {
  display: block;
  background-color: var(--main-color);
  width: 270px;
  border-radius: 0 0 4px 4px;
}
.photo {
  display: block;
  width: 100%;
  height: auto;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .item + .item {
  margin-left: 30px;
}
.team-member {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  margin: 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Footer
===================== */
.footer {
  background-color: var(--fond-color);
}
.address-box {
  padding: 60px 0 60px 0;
  margin-bottom: 0;
}
.address-box .logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.logo-white {
  color: var(--main-color);
}
.address {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.address-list {
  display: block;
  margin: 0;
  padding-left: 0;
}
.address-list .item {
  margin-bottom: 9px;
}
.address-list .item:last-child {
  margin-bottom: 0;
}

.address-text,
.address-item {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-item {
  color: var(--contacts-color); /* Полупрозрачный цвет 60% */
}

/* Portfolio 
=========================*/

/* Header*/

/* Наши работы */
.main-section {
  display: block;
}
.container.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter.list {
  display: flex;
  justify-content: center;
}
.filter .item + .item {
  margin-left: 8px;
}
.button-item {
  padding: 6px 22px;
  background-color: var(--team-fond-color);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  font-family: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
.button-item:hover,
.button-item:focus {
  background-color: var(--button-color);
  color: var(--main-color);
}

/* Фильтр портфолио */
.works-box {
  margin: 0;
  padding-top: 34px;
}
.works {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.works .item {
  display: list-item;
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.works .item:nth-child(3n) {
  margin-right: 0;
}
.works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.images {
  display: block;
  max-width: 100%;
  height: auto;
}
.exemple {
  padding: 20px 24px;
}
.works-item {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(---primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
h2 > .works-text {
  padding: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
/*-Кнопка-пример-*/

.button-item.current {
  color: var(--main-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
}
